<h2>Confirmação</h2>
<hr />
<div class="bar">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Hora do Remédio</th>
        <th>Quant de Dias</th>
        <th>Horário do Email</th>
        <th>Você tomou o remédio?</th>
      </tr>
    </thead>
    <tbody>
      <% @sent_emails.each do |sent| %>
          <tr>
            <td><%= sent.reminder.name %></td>
            <td><%= l sent.time, format: :custom %></td>
            <td><%= sent.reminder.days %></td>
            <td><%= l sent.time, format: :custom %></td>
            <td>
              <% if sent.completed == true %>
                <%= "Remedio Tomado" %>
              <% elsif sent.completed == false  %>
                <%= "Esqueceu esse Dia" %>
              <% else %>
                <%= link_to 'Sim', edit_sent_email_path(sent)  %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

