= form_for(@reminder) do |f|
  Nome:
  %br
  = f.text_field :name
  %br

  Horário:
  %br
  = f.time_select :time, default: { hour: '00', minute: '00' }
  %br

  Quantidades de Dia:
  %br
  = f.text_field :days
  %br

  Dia de Início:
  %br
  = f.date_select :start_at
  %br

  %br
  = f.submit "Atualizar", class: 'button'
