<%= form_for(@reminder) do |f| %>

  <div>
    Nome:<br />
    <%= f.text_field :name %><br />
  </div>

  <div>
    Horário:<br />
    <%= f.time_select :time, default: { hour: '00', minute: '00' } %>
  </div>

  <div>
    Quantidades de Dia: <br />
    <%= f.text_field :days %><br />
  </div>

  <div>
    Dia de Início:<br />
    <%= f.date_select :start_at %><br />
  </div>

  <br />
  <%= f.submit "Atualizar", class: 'button' %>

<% end %>
