<table>
  <thead>
    <tr>
      <td>Nome</td>
      <td>Horario</td>
      <td>Quantidade de Dias</td>
      <td>Dia inicial</td>
      <td>Editar</td>
    </tr>
  </thead>
  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= reminder.name %></td>
        <td><%= l reminder.time, format: :custom %></td>
        <td><%= reminder.days %></td>
        <td><%= l reminder.start_at, format: :short %></td>
        <td><%= link_to 'Editar', [:edit, reminder] %></td>
        <td><%= link_to 'Deletar',  reminder_path(reminder), :data => {
         :confirm => "Tem certeza que deseja deletar?" }, :method => :delete
         %></td>
      </tr>
    <% end %>
  </tbody>
</table>