<h2>Lembretes</h2>
<hr />
<table>
  <thead>
    <tr>
      <th class ="name">Nome</th>
      <th class = "hour">Horario</th>
      <th class = "days">Quant. de Dias</th>
      <th class="start_at">Dia inicial</th>
      <th class="edit">Editar</th>
      <th class="delete">Deletar</th>
    </tr>
  </thead>
  <tbody>
    <% @reminders.each do |reminder| %>
      <tr class="space">
        <td><%= reminder.name %></td>
        <td><%= l reminder.time, format: :custom %></td>
        <td><%= reminder.days %></td>
        <td><%= l reminder.start_at, format: :short %></td>
        <td class ="font"><%= link_to 'Editar', [:edit, reminder] %></td>
        <td class ="margin"><%= link_to 'Deletar',  reminder_path(reminder), :data => {
         :confirm => "Tem certeza que deseja deletar?" }, :method => :delete
         %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr />