<h2>Lembretes</h2>
<hr />
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Horario</th>
      <th>Quant de Dias</th>
      <th class="days">Dia inicial</th>
      <th>Editar</th>
      <th>Deletar</th>
      <th>Confirmar</th>
    </tr>
  </thead>
  <tbody>
    <% @reminders.each do |reminder| %>
      <tr class="space">
        <td><%= reminder.name %></td>
        <td><%= l reminder.time, format: :custom %></td>
        <td><%= reminder.days %></td>
        <td><%= l reminder.start_at, format: :short %></td>
        <td><%= link_to 'Editar', [:edit, reminder] %></td>
        <td><%= link_to 'Deletar',  reminder_path(reminder), :data => {
         :confirm => "Tem certeza que deseja deletar?" }, :method => :delete
         %></td>
         <td><%= link_to 'Confirmando', sent_emails_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr />