= render partial: 'shared/menu'

#user_logged
  %h2 Contato
  %hr

  = form_for @contact do |f|
    Nome:
    %br
    = f.text_field :name
    %br
    Email:
    %br
    = f.text_field :email
    %br
    Mensagem:
    %br
    = f.text_area :content, rows: 15
    %br
    = f.submit "Enviar", class: "button"