<% if user_signed_in? %>
  <div id="top_image">
    <%= link_to image_tag("logo.png"), reminders_path %>
  </div>
  <div id="top_welcome">
    Bem Vindo<br />
    <%= current_user.full_name %><br />
    <%= link_to "Sair", destroy_user_session_path, :method =>"delete" %>
  </div>

<% else %>
  <div id="top_image">
    <%= link_to image_tag("logo.png"), root_path %>
  </div>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end %>

    <div><%= f.submit "Sign in" %></div>
  <% end %>
<% end %>