<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="content_top_login">
    <div id="content_top_welcome">
      <%= render partial: 'layouts/session' %>
    </div>
  </div>

  <div id="content_center">
    <% if content_for?(:content) %>
      <%= yield(:content) %>
    <% else %>
      <%= yield %>
    <% end %>
  </div>

</body>
</html>
