<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id = "content_index">
    <div id="content_top">
      <%= render partial: 'layouts/session' %>
    </div>

    <div id="content_center">
      <% if content_for?(:content) %>
        <%= yield(:content) %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </div>
</body>
</html>
