%html
  %head
    %title Project
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #content_index
      #content_top
        = render partial: 'layouts/session'

      #content_center
        = yield