<% content_for(:content) do %>
  <div id="menu">
    <d1>
      <dt><%= link_to 'Home', reminders_path %></dt><br />
      <dt>Lembretes</dt>
      <dd><%= link_to 'Adicionar Lembretes', new_reminder_path %></dd>
      <dd><%= link_to 'Visualizar Lembretes', reminders_path %></dd><br />
      <dt>Cadastro</dt>
      <dd><%= link_to "Editar Cadastro", edit_user_registration_path  %></dd><br />
      <dt><%= link_to "Contato", new_contact_path %></dt>
    </d1>
  </div>

  <div id="user_logged">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
<% end %>
<%= render template: '/layouts/application' %>